.nav{
    background:linear-gradient(to right,greenyellow,rgb(0, 174, 255)) ;
    border-radius: 8px;
    border: 1px solid green;
    justify-content: space-between;
    display: flex;
    font-size: 20px;
    font-weight: 500;
    padding: 3px;
}

.nameindex{
    font-weight: 700;
    font-size: x-large;
}

.slider{
    width: 60%;
    overflow: hidden;
    margin-left: 250px;
    height: 500px;
}

.slides{
    display: flex;
    width: 100%;
    animation: slide 10s infinite;
}

.slide{
    width: 100%;
    flex-shrink: 0;
}

.slide img{
    width: 100%;
    display: block;
    height: 600px;
}

@keyframes slide  {
    0%{transform: translateX(0);}
    20%{transform: translatXe(0);}
    25%{transform: translateX(-100%);}
    45%{transform: translateX(-100%);}
    50%{transform: translateX(-200%);}
    70%{transform: translateX(-200%);}
    75%{transform: translateX(-300%);}
    95%{transform: translateX(-300%);}
    100%{transform: translateX(0%);}   
}

.me{
   text-align: center;
   font-weight: 600;
   font-size: 25px;
   background-color: rgb(232, 238, 237);
}

.button{
    font-size: 15px;
    background-color: rgb(159, 226, 226);
    padding: 5px;
    border-radius: 10px;
}

.button:hover{
    font-size: 17px;
    background-color: white;
}

.course img{
    width: 180px;
}

.course{
    background-color: rgb(227, 233, 240);
}

.mycourses{
    display: flex;
    gap: 10px;
}

.test{
    display: flex;
}


.test img{
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.media{
    text-align: center;
}

.media img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

footer{
    background-color: rgb(80, 80, 155);
}

h1{
    color: white;
    text-align: center;
}

@media only screen and (max-width:768px){
    .nav{
        font-size: 11px;
    }

    .course img{
        width: 95%;
    }
    
    .course{
        background-color: rgb(227, 233, 240);
    }
    
    .mycourses{
        display: block;
        gap: 0px;
    }

    
.slider{
    width: 100%;
    margin-left: 0px;
    height: 500px;
}

.slide{
    width: 100%;
    flex-shrink: 0;
}

.slide img{
    width: 98%;
    display: block;
    height: 400px;
}
}